################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyJobDiary Client/.vs
/MyJobDiary Client/Droid/bin
/MyJobDiary Client/Droid/obj
/MyJobDiary Client/iOS/bin
/MyJobDiary Client/iOS/obj
/MyJobDiary Client/MyJobDiary/bin
/MyJobDiary Client/MyJobDiary/obj
/MyJobDiary Client/UWP/obj
/MyJobDiary Service/.vs
/MyJobDiary Service/MyJobDiaryService/bin
/MyJobDiary Service/MyJobDiaryService/obj
/MyJobDiary Service/packages
/MyJobDiary Client/MyJobDiary/MyJobDiary.csproj.user
/MyJobDiary Client/Droid/MyJobDiary.Droid.csproj.user
/MyJobDiary Client/MyJobDiary/MyJobDiary/bin/Debug/netstandard2.0
/MyJobDiary Client/MyJobDiary/MyJobDiary/obj
/MyJobDiary Client/MyJobDiary/MyJobDiary.Android/bin/Debug
/MyJobDiary Client/MyJobDiary/MyJobDiary.Android/obj/.cache/com.companyname.flag
/MyJobDiary Client/MyJobDiary/MyJobDiary.Android/obj/Debug/MonoAndroid81
/MyJobDiary Client/MyJobDiary/MyJobDiary.Android/obj
/MyJobDiary Client/MyJobDiary/MyJobDiary.Android/MyJobDiary.Android.csproj.user
/MyJobDiary Client/MyJobDiary/MyJobDiary/bin/Release/netstandard2.0
/MyJobDiary Client/MyJobDiary/MyJobDiary.Android/bin/Release
